$headerColor: #efecca;
$menuColor: #ff934f;
$backColor: #a9cbb7;
$nameColor: #5e565a;
$menu1Color: #0b090a;
$h1Color: #0d1b2a;
$h2Color: #0d1b2a;
$decoColor: #f7ff58;

$defaultFont: 'Orbitron', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$gutter:16px;